optimizer:
  _target_: torch.optim.AdamW
  lr: 1e-4
  weight_decay: 1e-4
lr_scheduler:
  _target_: torch.optim.lr_scheduler.CosineAnnealingLR
  T_max: 100
  eta_min: 1e-6

vae: ${data.preprocess.cfg.vae}

mmdit:
  in_channels: ${model.vae.hidden_size}
  in_ssl_channels: 1024
  out_channels: ${model.vae.hidden_size}
  hidden_size: 512
  max_ssl_seq_len: 1000
  max_seq_len: 334
  depth: 12
  heads: 12

ssl_model: ${data.augment_datamodule.ssl_model}

t_sampling_schema: logit_normal # [uniform, logit_normal]
